table {
   font-family: arial, sans-serif;
   text-align: center;
}
th {
    padding: 10px;
    color: #8190a0;
    text-transform: uppercase;
}
td {
    padding: 20px;
}
tr:nth-of-type(1n+2) {
    color: #64637E;
}
tr:nth-of-type(2n+1) {
    background-color: #E3EAF3;
}
tr:nth-of-type(1n+2):hover {
    background-color: #d2cece;
}
td:first-of-type {
     text-transform: capitalize;
}
