*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Open Sans Condensed", sans-serif;
    background: repeating-linear-gradient(45deg, #f6f6f6 0, #f6f6f6 5%, #fff 0, #fff 50%) 0 / 20px 20px;
}
div {
    width: 330px;
    margin: 25px auto;
    display: block;
}
button {
	width: 100px;
	height: 100px;
	text-transform: capitalize;
	margin: 4px 3px;
	border: 1px solid #fff;
	background: #3498DB;
	color: #fff;
	font-size: 1.8em;
	cursor: pointer;
	transition: all .5s;
    display: inline-block;
    font-family: "Open Sans Condensed", sans-serif;
}
h1 {
    text-align: center;
}
button:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.highlight:hover{
	background: #fff;
	color: #3498DB;
}

.fade:hover{
	opacity: 0;
}

.boom:hover{
	transform: scale(2);
	opacity: 0;
}

.focus:hover{
	border-width: 20px;
}

.rotate:hover{
	transform: rotate(90deg);
}

.knit:hover{
	height: 0;
}

.shrink:hover{
	transform: scale(0);
}

.squeeze:hover{
	transform: scale(1.5, 0);
}

.deform:hover{
	transform: skew(45deg, 45deg);
}