table {
   font-family: arial, sans-serif;
   text-align: center;
   background-color: #E3EAF3;
}
th {
    padding: 10px;
}
td {
    padding: 20px;
}
#thead {
    color: #8190a0;
    text-transform: uppercase;
}
.colored {
    background-color: #90daea;
}
tr:nth-of-type(1n+2):hover {
    background-color: #d2cece;
}
.name {
     text-transform: capitalize;
}
